@model List<Dictionary<string, string>>

@{
    ViewData["Title"] = "User manager";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" style="text-align:center">List Account With Role</h4>
                    <br />
                    <form id="filterForm">
                        <div class="row justify-content-center form-wrap">
                            <div class="col-lg-4 form-cols">
                                <input type="text" class="form-control" id="UsrEmail" placeholder="Enter User Email" name="q" />
                            </div>
                            <div class="col-lg-2 form-cols">
                                <button type="submit" class="btn btn-info">
                                    <span class="lnr lnr-magnifier"></span> Filter
                                </button>
                            </div>
                            <div class="col-lg-2 form-cols">
                                <button type="button" class="btn btn-danger" onclick="clearFilter()">
                                    <span class="lnr lnr-cross-circle"></span> Clear Filter
                                </button>
                            </div>
                        </div>
                    </form>
                    <script>
                        document.getElementById("filterForm").addEventListener("submit", function (event) {
                            event.preventDefault(); // prevent form submission
                            applyFilter();
                        });

                        function applyFilter() {
                            var UsrEmail = document.getElementById("UsrEmail").value.trim().toLowerCase();
                            var rows = document.getElementsByTagName("tr");

                            for (var i = 1; i < rows.length; i++) { // Start from index 1 to skip the table header row
                                var UsrEmailCell = rows[i].getElementsByTagName("td")[0]; // Assuming UsrEmail is the first column
                                if (UsrEmailCell) {
                                    var UsrEmailText = UsrEmailCell.textContent || UsrEmailCell.innerText;
                                    var row = rows[i];
                                    if (UsrEmail === "" || UsrEmailText.toLowerCase().includes(UsrEmail)) {
                                        row.style.display = ""; // Show matching rows
                                    } else {
                                        row.style.display = "none"; // Hide non-matching rows
                                    }
                                }
                            }
                        }

                        function clearFilter() {
                            document.getElementById("UsrEmail").value = ""; // Clear the input field

                            var rows = document.getElementsByTagName("tr");
                            for (var i = 1; i < rows.length; i++) { // Start from index 1 to skip the table header row
                                rows[i].style.display = ""; // Show all rows
                            }
                        }
                    </script>
                    <div class="table-responsive">
                        <table class="table table-bordered" style="text-align: center">
                            <thead>
                                <tr>
                                    <th>
                                        Account
                                    </th>
                                    <th>
                                        Avatar
                                    </th>
                                    <th>
                                        Role
                                    </th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model)
                                {
                                    <tr>
                                        <td>@user["Email"]</td>
                                        <td><img src="/images/employers/@user["Avatar"]" style="width: 50px" /></td>
                                        <td>@user["RoleNames"]</td>
                                        <td>
                                            <a class="btn btn-primary" asp-action="ManageUserRoles" asp-route-userId="@user["userId"]">Set Role</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    @*<!--Page list-->
                    <div class="text-center">
                        <ul class="pagination">
                            @Html.PagedListPager((IPagedList)Model, page =>
                            Url.Action("Index", new { page }),
                            new PagedListRenderOptions
                            {
                            Display = PagedListDisplayMode.IfNeeded,
                            LiElementClasses = new string[] { "page-item" },
                            UlElementClasses = new string[] { "pagination" },
                            PageClasses = new string[] { "page-link" },
                            MaximumPageNumbersToDisplay = 7, // Maximum number of pages displayed
                            LinkToPreviousPageFormat = "<span aria-hidden=\"true\">&lsaquo;</span>",
                            LinkToNextPageFormat = "<span aria-hidden=\"true\">&rsaquo;</span>",
                            LinkToFirstPageFormat = "<span aria-hidden=\"true\">&lsaquo;&lsaquo;</span>",
                            LinkToLastPageFormat = "<span aria-hidden=\"true\">&rsaquo;&rsaquo;</span>"
                            })
                        </ul>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    input.btn.btn-danger {
        position: absolute;
        right: 25px;
        top: 25px;
    }

    th {
        font-weight: 700 !important
    }

    .pagination {
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

        .pagination li {
            margin: 0 5px;
        }

            .pagination li a {
                display: inline-block;
                padding: 5px 10px;
                border: 1px solid #ccc;
                color: #333;
                text-decoration: none;
                border-radius: 5px;
            }

            .pagination li.active a {
                background-color: #333;
                color: #fff;
            }
</style>