@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "_LayoutAccount";
}
<h4 class="mb-2">Forgot Password</h4>
<form method="post" asp-action="ForgotPassword" asp-controller="Account">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>